[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "22"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/validation-key.txt"
  to = "/.next/validation-key.txt"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
