[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "22"
[[plugins]]
  package = "@netlify/plugin-nextjs"

# Rule to serve the validation file
[[redirects]]
  from = "/validation-key.txt"
  to = "/validation-key.txt"
  status = 200

# Catch-all rule for your Next.js app (MUST be last)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
