-- Add marketplace listings table for secondary market
CREATE TABLE IF NOT EXISTS marketplace_listings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  nft_id UUID REFERENCES nfts(id) ON DELETE CASCADE,
  seller_id UUID REFERENCES users(id) ON DELETE CASCADE,
  price DECIMAL(20, 7) NOT NULL,
  status VARCHAR(20) DEFAULT 'active' CHECK (status IN ('active', 'sold', 'cancelled', 'expired')),
  created_at TIMESTAMP DEFAULT NOW(),
  expires_at TIMESTAMP DEFAULT NOW() + INTERVAL '30 days',
  sold_at TIMESTAMP,
  buyer_id UUID REFERENCES users(id)
);

CREATE INDEX idx_marketplace_nft ON marketplace_listings(nft_id);
CREATE INDEX idx_marketplace_seller ON marketplace_listings(seller_id);
CREATE INDEX idx_marketplace_status ON marketplace_listings(status);
CREATE INDEX idx_marketplace_created ON marketplace_listings(created_at DESC);

COMMENT ON TABLE marketplace_listings IS 'Secondary market listings for NFT resales';
